<html>

  <head>
    <style>
    </style>
  </head>

  <body>
    <p>M/s {{usersname}} has proposed contract no.<b>{{contractNo}}</b> for the sale of {{volumne}}
      {{volumePerIns}} at
      Rs.
      {{price1}}/- {{pricePerIns}} between M/s {{seller1}} as Seller and M/s {{buyer1}} Buyer.Please
      access and review
      the contract by <a href="{{frontendpdf}}" target="_blank">clicking link</a> <a href="{{shortPdfFileName}}"></a>
      and approve
      / reject the contract.If contract is not
      approved within 2 hours, the deal shall be cancelled</p>

  </body>

</html>