<html>

  <head>
    <style>
    </style>
  </head>

  <body>
    <p>M/s <u>{{usersname}}</u> has proposed a contract for the sale of {{volumne}} {{volumeIns}} of {{commodity1}} at
      {{price1}} {{pricePerIns}} between M/s <u>{{seller1}}</u> as Seller and M/s <u>{{buyer1}}</u> as Buyer.Please
      access and review
      the contract by </p><a href="{{frontendpdf}}" target="_blank">clicking here</a> <a
      href="{{shortPdfFileName}}">{{frontendpdf}}</a>
    <p> and approve
      / reject /
      request for
      change in
      the contract.If contract is not
      approved or
      requested to change within 24 hours the detail shall be cancelled</p>

  </body>

</html>